*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #393E46;
}
body{
  height: 100%;
  width: 100%;
}

.container{
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container h1{
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}
.player{
  display: flex;
  gap: 50px;
  text-align: center;
}
.player h2{
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-weight: 100;
}
