*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: none;
}
body{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container{
  width: 400px;
  height: min-content;
  background-color: white;
  border-radius: 12px;
  padding: 28px;
}
.search-box{
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box input{
  width: 84%;
  font-size: 15px;
  text-transform: capitalize;
  color: black;
  background-color: rgb(213, 249, 249);
  padding: 20px;
  border-radius: 10px;
}
.search-box button{
  width: 40px;
  height: 40px;
  background-color: rgb(213, 249, 249);
  border-radius: 50%;
  cursor: pointer;
}
.weather-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
}
.weather-body img{
  width: 60%;
}
.weather-box{
  margin-block: 20px;
  text-align: center;
}

.weather-box .temp{
  font-size: 40px;
  font-weight: 700;
  position: relative;
}

.weather-box .deg{
  position: absolute;
  font-size: 20px;
  font-weight: 400;
}
.weather-box .desc{
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}
.weather-details{
  display: flex;
  width: 100%;
  /* border: 1px solid red; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

